.cube1 {
background-color: #dadada;
height: 254px;
}
.padding_top{
  display: block;
  height: 100%;
  position: relative;
}

@font-face{
  font-family:oratorFont;
  src:url("images/fonts/Orator_Std_Medium.ttf");
}

.underline {
  position: relative;
  margin: 3px;
  &:hover,
  &:focus,
  &:active {
   /* cursor: pointer;*/
   &:after {
      width: 100%;
  }
}

.underline_animation{
  text-decoration: underline;
}
a:hover, a:focus {
    color: #f8f8f8;
    text-decoration: underline;
}

&:after {
    content: '';
    position: absolute;
    left: 0; bottom: -7px;
    height: 4px;
    background-color: #fff;
    width: 0;
    transition: width .25s;
  }
}

.cubes{
  z-index: 3;
    background-color: white;
}

.cubes_opened{
  z-index: 2;
  background-color: white;
  position: fixed;
}

.cubes2{
  z-index: 2;
  background-color: white;
  position:absolute;
}

.cubes2_animation{
  animation-name: openMenuKeyframe;
  animation-duration: 1s;
}

.menu_container2{
display: block;
height: 45px;
left: calc(50% - 31px);
position: absolute;
margin: 0 auto;
width: 64px;
top: 15px;
z-index: 1;
overflow: hidden;
}
.menu_container3{
display: block;
height: 45px;
left: calc(50% - 23px);
position: absolute;
margin: 0 auto;
width: 64px;
top: 30px;
z-index: 1;
overflow: hidden;
}

@media only screen and (max-width: 600px){
  div.mainmenu {
  width: 100%;
  left: 0;
  border-top-width: 15px;
}
}

@media only screen and (max-width: 800px)(max-height: 800px){
  div.mainmenu {
  width: 100%;
  left: 0;
/*  border-top-width: 15px;*/
}
}
@media only screen and (max-width: 1000px){
  div.mainmenu {
  width: 100%;
  left: 0;
/*  border-top-width: 15px;*/
}
}

.mainmenu{
  padding-top: 0px;
    background: none repeat scroll 0 0 rgba(255,255,255,0.9);
    position: absolute;
    width: 100%;
    z-index: 100;
    display: block;
    border-top: 30px solid #fff;
    overflow: hidden;
}

.makeMenuFixed {
  position: fixed;
  width: 100%;
  z-index: 104;
}

.navMenu {
  z-index: 3000;
  width:100%;
  height:100%;

  border-top-style: solid;
  border-top-width: 75px;
  border-top-color: rgba(255, 255, 255, 0.3);
/*  border-bottom-style: solid;
  border-bottom-width: 15px;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  */
  padding-left: 0px;
  display: inline-block;
  text-align: center;
}
.textDiv{
  color: #222;
  width: 100%;
  height: 100%;
  padding-top:45px;
  text-decoration: none;
   display: block;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1.4;

}
.list_item{

  height: 25%;
  width: 100%;
  background-color: rgba(255,255,255,.3);
  vertical-align: middle;
  text-align: center;
  -webkit-transition: background-color 1s ease-out;
 -moz-transition: background-color 1s ease-out;
 -o-transition: background-color 1s ease-out;
 transition: background-color 1s ease-out;

}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;

}

.white_text{
  visibility: hidden;

}


a, a:focus, a:active{
  text-decoration: none;
  outline: none;
}

/* animation station*/
@keyframes openMenuKeyframe {
  from {height:0px;}
  to {height:500px;}
  from  {opacity: 1;}
  to  {opacity: 0.1;}
/*  from {background: rgba(76, 175, 80, 1);}
  to {background: rgba(76, 175, 80, 0.3);}*/
}
@keyframes redBurst {
  from {height:0px;}
  to {height:100%;}
  from{width: 100%;}
  to{width: 100%};
  from {opacity: 1;}
  to {opacity: .0;}

}

@keyframes whiteBurst {
  from {height:0px;}
  to {height:100%;}
  from{width: 98%;}
  to{width: 98%;}

}

@keyframes closeMenuKeyframe{
  from{height:100%;}
  to {height:0px;}
  from {opacity: .80;}
  to {opacity:1;}
}

.list_item:hover {
  background-color: rgba(255,255,255,1);
  cursor: pointer;
}

.links{
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: .3;
  z-index:5;
  position: absolute;

}

.example_glow{
  animation-name: example;
  animation-duration: 1s;

}
.menu_closed {
  visibility: hidden;
  z-index: 7;
  position:fixed;
}
.menu_animation_red_burst{
  animation-name: redBurst;
  animation-duration: 1s;
  background-color: #e61c3f;
  position: absolute;
  z-index: 4;
}
.menu_animation_white_burst{
  animation-name: redBurst;
  animation-duration: 1s;
  background-color: white;
  opacity: .80;
  position: absolute;
  z-index: 4;
}

.menu_animation_open{
  animation-name: openMenuKeyframe;
  animation-duration: .5s;
  position: absolute;
  z-index: 4;
}

.menu_animation_open2{
  animation-name: openMenuKeyframe;
  animation-duration: .5s;
  width: 100%;
  position: absolute;
  z-index: 4;
}

.menu_animation_close{
  animation-name: closeMenuKeyframe;
  animation-duration: 1s;
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 4;

}

.menu_opened {
  z-index: 3005;
  position: fixed;
  width:100%;
  height: 100%;

}
/* end of animation station */

.hide_link_text{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: -1;
  text-decoration: none;
  outline: none;
}



.menu_icon{
  background-image: url("images/menu_icon.png");
  background-repeat: no-repeat;
}

.return_icon{
  background-image: url("images/return_icon.png");
  background-repeat: no-repeat;
}

.menu_link_can_click{
  padding-top: 18px;
  position: absolute;
  z-index: 6000;
}

.menu_link_cant_click{
  text-indent: -9999px;

}
@media screen and (min-width: 576px){
.cube_image{
  display: block;
  width: 58px;
  min-height: 55px;
  padding-top: 10px;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
  bottom: -30%;
  background-position: -297px -220px;
}
}

@media screen and (max-width: 576px){
.cube_image{
  display: block;
  width: 58px;
  min-height: 55px;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
  bottom: -30%;
  background-position: -297px -220px;

}
}
@media screen and (min-width: 576px){
.cube_image2{
  display: block;
  width: 58px;
  min-height: 55px;
  padding-top: 35px;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
  bottom: -30%;
  background-position: -297px -220px;
}
}

@media screen and (max-width: 576px){
.cube_image2{
  display: block;
  width: 58px;
  min-height: 55px;
  padding-top: 35px;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
  bottom: -30%;
  background-position: -297px -220px;

}
}

.under_text{
  position: relative;
  display: block;
  bottom: -40%;
  text-align: center;
  font-family: oratorFont,sans-serif;
}

.over_text{
  display: block;
  margin-bottom: 10%;
  font-family: oratorFont,sans-serif;

}

.social_circle{
  display:inline-block;
  width: 46px;
  height: 46px;
  background-color: #9f0e29;
  border-radius: 50%;
  text-indent: 9999px;
  overflow: hidden;
}
.social_nav{
  position: relative;
  bottom: -30%;
  text-align: center;
}

.github_sprite{
  background-image: url("images/GitHub-Mark-32px.png");
  background-repeat: no-repeat;
  background-position: center;
}
.skype_sprite{
  background-image: url("images/skype-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
.linkedin_sprite{
  background-image: url("images/chrome_linkedin_32.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

p {
  font-size: 19px;
  letter-spacing: 1.5px;
  font-family: oratorFont,sans-serif;
  text-transform: uppercase;
  line-height: 2.2rem;
  color: #a5142d;
  font-weight: normal;
}

.cube2 {
background-color: #bfabaa;
height: 254px;

}
.cube3 {
background-color: #e61c3f;
height: 254px;
}

.cube3_content {
  display: block;
  padding-top: 10px;
  padding-left: 8px
  text-align: left;
}

.cube4 {
  background-color: #413231;
  height: 254px;
}

.cube5 {
  background-color: #a5142d;
  height: 254px;
}

.cube6 {
  background-color: #e61c3f;
  height: 254px;
}
.cube6_content1 {
  text-align: right;
}
.cube6_content2{

}
.cube7 {
  background-image: url("images/pattern.jpg");
  height: 254px;
}
.cube8 {
  background-color: #bfabaa;
  height: 254px;
}
